:root {
    --primary-text-color: #FFFFFF;

    --primary-bg-color: #212832;
    --secondary-bg-color: #2C343F;
    --tertiary-bg-color: #543FD3;
    --danger-bg-color: #E44F4F;
    --succes-bg-color: #1BC47D;

    --font-size-xl: 36px;
    --font-size-lg: 24px;
    --font-size-md: 18px;
    --font-size-sm: 14px;

    --primary-border-radius: 10px;
    --secondary-border-radius: 20px;

    --primary-border-color: #212832;
    --secondary-border-color: #2C343F;
    --tertiary-border-color: #543FD3;

    --primary-svg-color: #FFFFFF;
    --secondary-svg-color: #2C343F;
}