.button {
    padding: 10px 40px;
    border: 2px solid var(--primary-border-color);
    font-size: var(--font-size-md);
    border-radius: var(--primary-border-radius);

    &:hover {
        border-color: var(--tertiary-border-color);
    }
}

@media (max-width: 600px) {
    
    .button {
        font-size: var(--font-size-sm);
    }
}