.aside {
    position: absolute;
    left: -310px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: 320px;
    background-color: var(--secondary-bg-color);
    padding: 20px 10px 10px;
    z-index: 9;
    transition: 0.5s;
}

.aside--active {
    left: 0;

    .aside__button {
        right: 0;

        svg {
            transform: rotate(180deg);
        }
    }
}

.aside__form {

    .input {
        border-color: var(--primary-border-color);

        &:hover {
            border-color: var(--tertiary-border-color);
        }

        &:focus {
            border-color: var(--tertiary-border-color);
        }
    }

    .input__label {
        background-color: var(--secondary-bg-color);
    }
}

.aside__button {
    background-color: var(--primary-bg-color);
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    border-radius: var(--primary-border-radius);
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
        width: 15px;

        path {
            fill: var(--secondary-svg-color);
        }
    }

    &:hover {

        path {
            fill: var(--primary-svg-color);
        }
    }
}