.auth__form-field {
    margin-top: 15px;
    width: 100%;

    .input {
        border-color: var(--primary-border-color);

        &:hover {
            border-color: var(--tertiary-border-color);
        }
    
        &:focus {
            border-color: var(--tertiary-border-color);
        }
    }

    .input__label {
        background-color: var(--secondary-bg-color);
    }
}