.auth__form-field {
    margin-top: 15px;
    width: 100%;

    .form__field {
        border-color: var(--primary-border-color);
    }

    .form__label {
        background-color: var(--secondary-bg-color);
    }
}