.textarea-wrap {
    width: 100%;
    position: relative;
}

.textarea {
    width: 100%;
    border-radius: var(--primary-border-radius);
    border: 2px solid var(--secondary-border-color);
    padding: 10px 15px;
    font-size: var(--font-size-md);

    &:hover {
        border-color: var(--tertiary-border-color);
    }

    &:focus {
        border-color: var(--tertiary-border-color);
    }
}

.textarea__label {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: -1;
    transition: 0.5s;
    font-size: var(--font-size-md);
    background-color: var(--primary-bg-color);
}

.textarea:focus~.textarea__label,
.textarea:not(:placeholder-shown).textarea:not(:focus)~.textarea__label {
    z-index: 1;
    transform: translateY(-150%);
    font-size: var(--font-size-sm);
}